
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Form</title>

</head>
<body>
{{ formName.value | json }}
<form #formName="ngForm">

  <label>First Name</label><br>
  <input #inputName="ngModel" type="text"  name="firstname" ngModel><br>

  <label>Last Name</label><br>
  <input #inputName="ngModel" type="text" name="lastname" ngModel><br>

  <label>Email</label><br>
  <input #inputName="ngModel" type="text" name="email" ngModel><br>

  <label>Phone Number</label><br>
  <input #inputName="ngModel" type="text" name="phonenumber" ngModel><br>

  <label>Favorite Language</label><br>
    <select #inputName="ngModel" name="language" ngModel>
      <option *ngFor="let language of languages">{{ language }}</option>
    </select>


</form>

</body>
</html>
