
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Form</title>

</head>
<body>
{{ Friend | json }}
<form #formName="ngForm">

  <label>First Name</label><br>
  <input [(ngModel)]="Friend.firstname" type="text"  name="firstname" ngModel required><br>

  <label>Last Name</label><br>
  <input [(ngModel)]="Friend.lastname" type="text" name="lastname" ngModel required><br>

  <label>Email</label><br>
  <input [(ngModel)]="Friend.email" type="text" name="email" ngModel required><br>

  <label>Phone Number</label><br>
  <input [(ngModel)]="Friend.phonenumber" type="text" name="phonenumber" ngModel required><br>

  <label>Favorite Language</label><br>
    <select [(ngModel)]="Friend.languages" name="language" ngModel required>
      <option *ngFor="let language of languages">{{ language }}</option>
    </select><br>

  <button id="submit" name="submit">Submit</button>

</form>

</body>
</html>
