
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Form</title>

</head>
<body>
{{ friendModel | json }}
<form #formName="ngForm" name="friendForm">

  <label>First Name</label><br>
  <input #firstname="ngModel"  type="text"  name="firstname" [(ngModel)]="friendModel.firstname" required [class.wrong]="firstname.invalid && firstname.touched" pattern="^[^\d]+$ && /[^a-zA-Z0-9 ]/"><br>

  <label>Last Name</label><br>
  <input #lastname="ngModel"  type="text" name="lastname" [(ngModel)]="friendModel.lastname" required [class.wrong]="lastname.invalid && lastname.touched" pattern="^[^\d]+$ && /[^a-zA-Z0-9 ]/"><br>

  <label>Email</label><br>
  <input #email="ngModel"  type="text" name="email" [(ngModel)]="friendModel.email" required [class.wrong]="email.invalid && email.touched" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"><br>

  <label>Phone Number</label><br>
  <input #phonenumber="ngModel"  type="text" name="phonenumber" [(ngModel)]="friendModel.phonenumber" required [class.wrong]="phonenumber.invalid && phonenumber.touched" pattern="^[0-9]+$ && /[^a-zA-Z0-9 ]/"><br>

  <label>Favorite Language</label><br>
    <select #language="ngModel"  name="language" [(ngModel)]="friendModel.languages" required [class.wrong]="language.invalid && language.touched">
      <option *ngFor="let language of languages">{{ language }}</option>
    </select><br>

  <button id="submit" name="submit" [disabled]="formName.form.invalid">Submit</button>

</form>

</body>
</html>
